<section id="team mt-1" class="pb-5">
    <div class="container">
        <h5 class="section-title h1">Tout équipement</h5>
        <div>
            <form>
                <div class="d-flex justify-content-around">
                    <div>
                        <label for="start">Start date:</label>
                        <input type="datetime-local" id="start" name="startDate" value="2018-07-22" class="ms-1"
                            [(ngModel)]="eequipment.startDate" />

                        <label for="end" class="ms-5">End date:</label>
                        <input type="datetime-local" id="end" name="endDate" value="2019-07-22" class="ms-1"
                            [(ngModel)]="eequipment.endDate" />
                    </div>
                </div>
                <div class="d-flex justify-content-center mt-3">
                    <button class="button" (click)="getEquipmentAvailable()">
                        Apply Now
                        <svg fill="currentColor" viewBox="0 0 24 24" class="icon">
                            <path clip-rule="evenodd"
                                d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm4.28 10.28a.75.75 0 000-1.06l-3-3a.75.75 0 10-1.06 1.06l1.72 1.72H8.25a.75.75 0 000 1.5h5.69l-1.72 1.72a.75.75 0 101.06 1.06l3-3z"
                                fill-rule="evenodd"></path>
                        </svg>
                    </button>
                </div>
            </form>
        </div>
        <div *ngFor="let equipment let equipmentD">
            <div class="row mt-5" *ngIf="checkEq">
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip">
                        <div class="mainflip flip-0">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p><img class=" img-fluid" src="./assets/images/work-4.jpg" alt="card image">
                                        </p>
                                        <h4 class="card-title">{{equipment.name}}</h4>
                                        <p class="card-text">quantity Available : {{equipment.quantity}}.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <h4 class="card-title">{{equipment.name}}</h4>
                                        <p class="card-text">quantity Available : {{equipment.quantity}}</p>
                                        <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>